@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

.calculator {
  display: grid;
  grid-template-areas:
    "o o o o o"
    "n7 n8 n9 dv sq"
    "n4 n5 n6 ml eq"
    "n1 n2 n3 mn eq"
    "n0 n0 pt pl eq";
  gap: 1px;
  background-color: slategray;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 2px;
  padding: 5px;
  width: 160px;
}

.calculator output {
  grid-area: o;
  color: ghostwhite;
  background-color: darkolivegreen;
  border: solid 2px black;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px 0.2em;
}

.calculator button {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  border-radius: 1px;
}

.calculator button:active {
  transform: translateY(2px);
  height: calc(100% - 2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px inset,
    rgb(204, 219, 222) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.n0 {
  grid-area: n0;
}
.dv {
  grid-area: dv;
}
.mn {
  grid-area: mn;
}
.pl {
  grid-area: pl;
}
.pt {
  grid-area: pt;
}
.sq {
  grid-area: sq;
}
.ml {
  grid-area: ml;
}
.eq {
  grid-area: eq;
}
.n1 {
  grid-area: n1;
}
.n2 {
  grid-area: n2;
}
.n3 {
  grid-area: n3;
}
.n4 {
  grid-area: n4;
}
.n5 {
  grid-area: n5;
}
.n6 {
  grid-area: n6;
}
.n7 {
  grid-area: n7;
}
.n8 {
  grid-area: n8;
}
.n9 {
  grid-area: n9;
}
